html{
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(111, 153, 141, 0.67);
  padding: 0;
  margin: 0;
}
#header {
  position: sticky;
  top: 0px;
  height: 80px;
  background: #333;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
.logo .name {
  float: left;
}
.logo img{
  height: 30px;
  width: 30px;
}
.logo .main {
  margin-top: 20px;
  padding: 5px;
}
.logo .hone {
  color: #7fb9c7;
  display: inline;
  border: 2px #00ccff;
  border-radius: 14px;
}
.menu {
  position: absolute;
  right: 0;
  top: 27px;
  right: 20px;
}
.menu ul {
  padding: 0;
  margin: 0;
}
.menu ul li {
  list-style-type: none;
  float: left;
}
.menu ul li a {
  text-decoration: none;
  text-transform: capitalize;
  padding: 5px;
  color: #ffffff;
  font-weight: bold;
  font-size: 19px;
}
.menu ul li a:hover {
  background-color: #777;
  border: 2px solid aqua;
  border-radius: 12px;
  color: #fff;
}
.cdrop{
  position: absolute;
  background-color: #00ccff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid aqua;
  border-radius: 12px;
  display: none;
  margin-top: 5px;
}
.cdropdown:hover .cdrop{
  display: block;

}
.cdrop a{
  display: block;
  color: #c39494;
}
.dropcntn a {
  display: block;
  color: #c39494;
}
.dropcntn {
  position: absolute;
  background-color: #00ccff;
  padding: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  border: 2px solid aqua;
  border-radius: 12px;
  margin-top: 5px;
  display: none;

}
.dropdown:hover .dropcntn {
  display: block;
}
.portrait h2{
  text-align: center;
  color: white;
  text-transform: capitalize;
}
.opacity{
  overflow: hidden;
  height: 250px;
  width: 100%;
  background: white;
  border-top: 2px solid tomato;
  border-bottom: 2px solid tomato;
}
.opacity .photos {
  height: 200px;
  width: 600px;
  margin: 40px auto;
}
.photos .common{
  height: 170px;
  width: 170px;
  margin: 0 auto;
  display: inline-block;
}
.common h2{
  float: left;
  margin: 0 auto;
  background: gray;
  width: 100%;
  display: none;
}
.common:hover:nth-child(1) h2{
  display: inline-block;
}
.photos .common:nth-child(1){
  background: url('https://serving.photos.photobox.com/27602750957ea1fd492c83741318e187ea434f397e9c6ab17880d9b8437e7a2eac952ab4.jpg') no-repeat;
  background-size: 200px 200px;
  box-shadow: 4px 3px 3px grey;
  border: 2px solid #333;
  margin-right: 20px;
}
.photos .common:hover:nth-child(1){
  border: 2px solid #333;
  box-shadow: 2px 6px 8px 4px red;
}
.photos .common:nth-child(2){
  background-image: url('https://serving.photos.photobox.com/64153926d750f3c95aff68fe6e0e14b89088978b3431cd79d09c2abb875f8baaf409ba55.jpg');
  background-size: 200px 200px;
  box-shadow: 4px 3px 3px grey;
  border: 2px solid #333;
  margin-right: 20px;
}
.photos .common:hover:nth-child(2){
  border: 2px solid #333;
  background-size: 200px 200px;
  box-shadow: 2px 6px 8px 4px red;
}
.photos .common:last-child{
  background-image: url('https://serving.photos.photobox.com/33961577ed6aec394e3a467882fa9bf9fc82798efac28b525c1e65979eb3ed8797dc41fb.jpg');
  background-size: 200px, 200px;
  box-shadow: 4px 3px 3px grey;
  border: 2px solid #333;
  margin-right: 20px;
}
.photos .common:hover:last-child{
  box-shadow: 2px 6px 8px 4px red;
}
footer {
  overflow: hidden;
  background-color: #333;
  height: 146px;
  position: relative;
}
footer .icons {
  height: 50px;
  width: 170px;
  clear: left;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
footer p {
  color: white;
  text-align: center;
}
footer p .ami {
  color: white;
  text-decoration: none;
}
.icons ul {
  padding: 0;
  margin: 0;
}
.icons ul li {
  float: left;
  list-style: none;
  margin-right: 10px;
}
.icons ul li:last-child {
  margin-right: 0px;
}
.icons ul li a {
  background-repeat: no-repeat;
  background-position: -4px -5px;
  border: 2px solid #777;
  border-radius: 50%;
  height: 38px;
  width: 38px;
  background-image: url('https://cdn1.imggmi.com/uploads/2020/4/21/1f11de6293ce213ddac7e580f893e81b-full.png');
  background-size: 600px;
  display: inline-block;
  transition: 1s;
}
.icons ul li:hover:nth-child(1) a {
  background-position: -4px -52px;
}
.icons ul li:nth-child(2) a {
  background-position: -51px -5px;
}
.icons ul li:hover:nth-child(2) a {
  background-position: -51px -52px;
}
.icons ul li:nth-child(3) a {
  background-position: -328px -5px;
}
.icons ul li:hover:nth-child(3) a {
  background-position: -328px -52px;
}